<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Customer_SignIn_Controller</servlet-name>
        <servlet-class>customer.servlets.Customer_SignIn_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankerOperations</servlet-name>
        <servlet-class>banker.servlets.BankerOperations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer_Sign_Up_Controller</servlet-name>
        <servlet-class>customer.servlets.Customer_Sign_Up_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ticket</servlet-name>
        <servlet-class>ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_SignUp_Controller</servlet-name>
        <servlet-class>customer.servlets.Admin_SignUp_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTicket</servlet-name>
        <servlet-class>banker.DeleteTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankerOperation</servlet-name>
        <servlet-class>banker.BankerOperation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Customer_SignIn_Controller</servlet-name>
        <url-pattern>/Customer_SignIn_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer_Sign_Up_Controller</servlet-name>
        <url-pattern>/Customer_Sign_Up_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ticket</servlet-name>
        <url-pattern>/ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankerOperations</servlet-name>
        <url-pattern>/BankerOperations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_SignUp_Controller</servlet-name>
        <url-pattern>/Admin_SignUp_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTicket</servlet-name>
        <url-pattern>/DeleteTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankerOperation</servlet-name>
        <url-pattern>/BankerOperation</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
